@font-face{
    font-family:RobotoThin;
    src:url("fonts/Roboto-Thin.ttf");
}

body{
    background-color:#1E1F1C;
    margin:0;
    padding:0;
}

nav{
    background-color:#1E1F1C;
    -webkit-app-region:drag;
}

.title{
    font-family:'RobotoThin';
    display: inline-block;
    padding-top: .3125rem;
}

.antidrag{
    -webkit-app-region:no-drag;
}

.closebtn{
    margin:0;
    padding:0;
}

.closebtn:hover{
    background-color:red;
}

.frame{
    width:100%; 
    -webkit-app-region:drag;
    display:block;
}

.navbar{
    height:50px;
}

.navbar-brand{
    font-size:36px;
}