@font-face{
    font-family:RobotoThin;
    src:url("fonts/Roboto-Thin.ttf");
}

body{
    background-color:#1E1F1C;
    margin:0;
    padding:0;
}

nav{
    background-color:#1E1F1C;
    -webkit-app-region:drag;
}

.title{
    font-family:'RobotoThin';
}

.antidrag{
    -webkit-app-region:no-drag;
}

.closebtn{
    margin:0;
    padding:0;
}

.closebtn:hover{
    background-color:red;
}