@font-face{
    font-family: RobotoThin;
    src:url("fonts/Roboto-Thin.ttf");
}

body{
    background-color:#000000;
    margin:0;
    padding:0;
    padding-top:50px;
}

nav{
    -webkit-app-region:drag;
}

.title{
    font-family:'RobotoThin';
    display: inline-block;
    padding-top: .3125rem;
}

.antidrag{
    -webkit-app-region:no-drag;
}

.closebtn{
    margin:0;
    padding:0;
}

.closebtn:hover{
    background-color:red;
}

.frame{
    width:100%;
    -webkit-app-region:drag;
    display:block;
}

.navbar{
    height:50px;
}

.navbar-brand{
    font-size:36px;
}

.rounded-btn{
    background:transparent;
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    transition-duration:0.3s;
    height:50%;
}

.rounded-btn:hover{
    background:#fdd835;
    border: 2px solid #fdd835;
}
