@font-face{
    font-family: RobotoThin;
    src: url('fonts/Roboto-Thin.ttf');
}

$background: #000;
$foreground: #fff;
$theme: #fdd835;
$theme-accent: darken($theme, 15%);
$important: #f00;

$nav-height: 3em;

// variable initialization
// note that variable can be initialized anywhere in css, this
// here is for "global" variables
:root{
    // use #{--var} so that double-dash doesn't get interpreted by sass-linter
    #{--background}: #{$background};
    #{--foreground}: #{$foreground};
    #{--important}: #{$important};

    #{--theme}: #{$theme};
    #{--theme-accent}: #{$theme-accent};

    #{--nav-height}: #{$nav-height};
}

@keyframes pergiAtas{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-120vh);
    }
}

body{
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    margin-top: var(--nav-height);
    overflow: hidden;
    padding: 0;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    &.center{
        align-items: center;
    }
    &.vertical{
        flex-flow: column;
    }
    &.horizontal{
        flex-flow: row;
    }
}

.fill-parent{
    height: 100%;
    width: 100%;
}

.iconbtn{
    margin: .5em;
}

.bottomright {
    bottom: .5em;
    font-size: 18px;
    padding: 0;
    position: absolute;
    right: 1em;
}

.navbar{
    -webkit-app-region: drag;
    background: var(--theme);
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    * {
        margin: 0;
    }
}

.right{
    align-self: flex-end;
}

.title{
    font-family: 'RobotoThin';
    padding-left: .5em;
}

.antidrag{
    -webkit-app-region: no-drag;
}

.container{
    #{--margin}: 5em;
    align-items: center;
    display: flex;
    flex-flow: row;
    height: calc(100vh - calc(var(--margin) * 2));
    justify-content: space-between;
    margin: var(--margin);
}

.keatas{
    animation: pergiAtas;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 1em;
    transition: background .2s, border .3s;
    &.round{
        border-radius: .8em;
    }
    &:hover{
        background: var(--theme);
        border: 1px solid var(--theme);
    }
    &:active{
        background: var(--theme-accent);
    }
    // Used only in the top navbar
    &.nav{
        border: 0;
        padding: 0;
        &:hover{
            border: 0;
        }
    }
    &.close{
        &:hover{
            background: var(--important);
        }
        &:active{
            background: darken($important, 25%);
        }
    }
}
